


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.card-container{
    padding: 25px 25px 50px 25px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffff;
    border-radius: 20px;
   
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;  
}
.image img {
    /* margin-top: 20px; */
    height: 150px;
    width: 150px;
    border-radius: 50%;    
}
.card-info{
    text-align: center;
}

a{
    text-decoration: none;
}